/* Resetting default margin and padding */
body, h1, h2, h3, p, ul, li, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f3e1ef;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

h1 {
    font-size: 32px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px
}

figcaption {
    font-style: italic;
    text-align: center; /* Center-align the caption */

}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.coffee-shop-image {
    max-width: 500px;
    float: right;
}
