
body {
    height: 125vh;
    background-color:  rgb(10, 38, 79);
    background-size: cover;
    font-family: monospace;
    margin-top: 100px;
    padding: 30px;

}
main {
    /* This ensures the text part takes up the needed space but can shrink if needed */
    flex: 1;
    max-width: 600px; /* Adjust this value based on your content and design preference */
    padding-right: 20px; /* Adds some space between the text and the image */
    color: whitesmoke;

}
h1{
    color: whitesmoke;
    font-display: bold;
}
h3 {
    color: whitesmoke;
    font-display: bold;
    font-size: larger;
    
}
a:link {
    color: rgb(187, 216, 227);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
/* Navigation Bar */
header img {
    height: 100px;
}
header li a:hover {
    color: rgb(255, 225, 0);
    background-color: transparent;
    text-decoration: none;
    text-decoration: underline; /* Adds the underline back only for nav bar links */
}
header {
    background:  rgb(34, 102, 206) ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

header * {
    display: inline;
}
header li {
    margin: 80px;
    
}
header li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}
.Headshot {
    /* Adjust the width and height as necessary, but maintain aspect ratio */
    height: 420px;
    border-radius: 50%;

    flex: 0 1 auto; /* This prevents the image from shrinking below its size */
}
p.landing {
    text-align: left;
    padding: 10px; 
    border-radius: 10px;
    margin-right: 20%;
    font-size: larger;
}
.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* This ensures that the container will try to fit its content within the viewport width */
    flex-wrap: wrap;
}
/* Resume */
p.resume{
    display: block;
    margin-left: 375px;
    margin-right: auto;
}
h3.qualifications{
    color: whitesmoke;
    font-display: bold;
    margin-left: 40px;
}
section.qualifications {
    background-color:  #78b1f782;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}
section.qualifications * {
    color: whitesmoke(20, 49, 94); 
}
section.qualifications ul {
    color: whitesmoke;
    text-align: center;
}
/* Service */
img.servicepics {
    max-width: 600px;
    max-height:400px;
    float: left;
    margin: 0 15px 0 0;
}
div.servicetext{
    font-size: 20px;
    padding-left: 20px;
    color: whitesmoke;
    
}
div.allservice {
    align-items: center;
    justify-content: center;
}
/* Projects */
h3.techskills{
    color: #4c4a4cdf;
    font-display: bold;
    margin-left: 40px;
}
section.techskills {
    background-color:  whitesmoke;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}
section.techskills * {
    color: rgb(20, 49, 94); 
}
img.techskills {
    display: block;
    max-width: 300px;
    max-height:300px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 20px;
}
/* footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(34, 102, 206);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}